# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables / secrets
.env
.env.*

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
ai-context/
models_int/

# Type checkers
.mypy_cache/
.pyre/
.pytype/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build artifacts
build/
dist/
*.egg-info/

# Logs
*.log

# Weights
*.pt

